lazy-lock.json
terminal/.config/fish/completions
terminal/.config/fish/conf.d
terminal/.config/fish/themes
# terminal/.config/fish/functions/*
terminal/.config/fish/fish_variables
terminal/.config/fcitx5/conf
terminal/.gnupg
terminal/.librewolf
